*{
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none
}
a{
    color: black;
    text-decoration: none;
}
.body{
    background-color: #D8CFAF;
    font-family: montserrat;
    overflow-x: hidden;
    width: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/tomates.png);
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    background-size: 100%;
    margin-bottom: 150px;
}
#section1Hidden{
  display: none;

}
header{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textMain{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navList{
    width: 100%;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: end;
    list-style: none;
    gap: 100px;
    background-color: rgba(0, 128, 0, 0.13);
    padding: 20px;
}
.navList li{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-weight: 700;
}
h2{
    font-weight: 600;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.logoDavid{
    margin-top: 20px;
    height: 300px;
}
.natural{
    height: 300px;
    padding-bottom: 200px;
    padding-right: 50px;
}
.conservantes{
    height: 300px;
    padding-bottom: 200px;
    padding-left: 50px;
}

/* primer seccion */

.primerSection{
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}
h3{
    font-size: 50px;
    font-weight: 200;
    padding-top: 20px;
    padding-left: 20px;
}

/* carrousel */
.carrusel1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.cargaTomate{
    height: 300px;
}
.carrousel1Text{
    display: flex;
    width: 800px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 30px;
    font-weight: 400;
}
.carrousel1Text p{
    margin-right: 20px;
    font-size: 20px;
}
.carousel{
    margin-top: 50px;
    width: 1100px;
}
.imgCarrousel2{
    height: 220px;
}
.carrousel2Text{
    width: 810px;
}
.imgCarrousel3{
    height: 200px;
}

/* Segunda seccion  */

.segundaSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.tablaNutricional{
    height: 600px;
}

/* tercer section */
.tercerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.mainContacto {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 200px;
    height: 200px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 200px;
    height: 200px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .facebook {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 200px;
    height: 200px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .whatsapp {
    margin-top: -.6em;
    margin-left: 1.2em;
    fill: #00ff00;
  }
  
  .card4 {
    width: 200px;
    height: 200px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .gmail {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #f14336;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #1877f2;
  }
  
  .card2:hover .facebook {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #00ff00;
  }
  
  .card3:hover .whatsapp {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #FF0004;
  }
  
  .card4:hover .gmail {
    fill: white;
  }

.contacto{
    display: flex;
    
}
.contacto span{
    width: 300px;
    margin-right: 200px;
    font-size: 20px;

}
.h3Contacto{
    margin-bottom: 100px;
}

/* cuarta seccion */

.cuartaSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.textCuartaSection{
    display: flex;
    margin-top: 80px;
}
.textCuartaSection span{
    width: 450px;
    margin-left: 40px;
}
.quintaSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quintaSection p{
    padding: 20px;
    background-color: rgba(0, 128, 0, 0.13);
    margin-top: 50px;
    width: 800px;
}

@media (max-width: 900px){
  .navList li{
    font-size: 10px;
  }
  .navList{
    gap: 30px;
  }
  .main{
    scale: 100%;
  }
}
@media (max-width: 800px){
  .carrousel1Text p{
    width: 370px;
  }
  h3{
    scale: 90%;
  }
  iframe{
    height: 400px;
    width: 400px;
  }
  .textCuartaSection span{
    width: 400px;
  }
  .contacto span{
    width: 350px;
    margin-right: 30px;
    margin-top: 0px;
  }
  .card1{
    width: 150px;
    height: 150px;
  }
  .card2{
    width: 150px;
    height: 150px;
  }
  .card3{
    width: 150px;
    height: 150px;
  }
  .card4{
    width: 150px;
    height: 150px;
  }
  .textCuartaSection{
    flex-direction: column-reverse;
    justify-content: center;
    background-color: rgba(0, 128, 0, 0.13);
    padding: 20px;
  }
  .textCuartaSection span{
    margin-left: 0px;
    margin-bottom: 30px;
  }
  .quintaSection p{

    width: 600px;
  }
}
@media (max-width: 750px){
  .navList li{
    font-size: 8px;
  }
  .navList{
    gap: 20px;
  }
}
@media (max-width: 500px){
  h3{
    font-size: 20px;
  }
  .main{
    display: none;
  }
  .h4{
    font-size: 16px;
    font-weight: 400;
  }
  .carrousel1Text p{
    font-size: 13px;
    width: 200px;
  }
  .carrousel1Text{
    flex-direction: column;
  }
  .carousel{
    width: 300px;
    height: 400px;
  }
  #section2{
    background-color: rgba(0, 128, 0, 0.13);
    height: 770px;
  }
  .tablaNutricional{
    height: 330px;
  }
  .contacto{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contacto span{
    font-size: 15px;
    margin: 0px 10px 30px 10px;
  }
  .quintaSection p{
    width: 100%;
  }
  .textCuartaSection{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  iframe{
    width: 300px;
    height: 300px;
  }
  .textCuartaSection span{
    width: 100%;
  }
}


